<% # This is the form for creating or editing a listing %>

<%= form_with(model: @listing, local: true, id: "listing-form") do |f| %>

  <% # Displaying error messages if a validation is not passed %>

  <% if @listing.errors.any? %>
    <div id="error-messages">
      <p class="required">The following errors occurred:</p>
      <% @listing.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <% # Disclaimer %>

  <p id="disclaimer">Items marked in <span class="required">RED</span> are required.<br>Please try to be as accurate as possible when creating a listing.<br>For details on how we assess condition, please see the <a href="/help#condition-guide">Condition Guide</a></p>

  <% # Form sections %>

  <div class="form-section">
    <%= f.label :category, class: "required" %>
    <%= f.select :category_id, @categories.map { |i| [i.name, i.id] } %>
  </div>

  <div class="form-section">
    <%= f.label :manufacturer, class: "required" %>
    <%= f.select :manufacturer_id, @manufacturers.map { |i| [i.name, i.id] } %>
  </div>

  <div class="form-section">
    <%= f.label :model, class: "required" %>
    <%= f.text_field :model %>
  </div>

  <div class="form-section">
    <%= f.label :condition, class: "required" %>
    <%= f.select :condition_id, @conditions.map { |i| [i.name, i.id] } %>
  </div>

  <div class="form-section">
    <%= f.label :price, class: "required" %>
    <%= f.number_field :price, placeholder: '$' %>
  </div>

  <div class="form-section">
    <%= f.label :color, class: "required" %>
    <%= f.select :color_id, @colors.map { |i| [i.name, i.id] } %>
  </div>

  <div class="form-section">
    <%= f.label :body_material %>
    <%= f.select :material_id, @materials.map { |i| [i.name, i.id] } %>
  </div>

  <div class="form-section">
    <%= f.label :fingerboard_material %>
    <%= f.select :fingerboard_id, @fingerboards.map { |i| [i.name, i.id] } %>
  </div>

  <div class="form-section">
    <%= f.label :scale_length %>
    <%= f.number_field :scale_length, placeholder: 'inches', step: 0.01 %>
  </div>

  <div class="form-section">
    <%= f.label :fingerboard_radius %>
    <%= f.number_field :fingerboard_radius, placeholder: 'inches', step: 0.01 %>
  </div>

  <div class="form-section">
    <%= f.label :number_of_frets %>
    <%= f.number_field :number_of_frets %>
  </div>

  <div class="form-section">
    <%= f.label :bridge %>
    <%= f.select :bridge_id, @bridges.map { |i| [i.name, i.id] } %>
  </div>

  <div class="form-section">
    <%= f.label :neck_pickup %>
    <%= f.text_field :neck_pickup %>
  </div>

  <div class="form-section">
    <%= f.label :bridge_pickup %>
    <%= f.text_field :bridge_pickup %>
  </div>

  <div class="form-section">
    <%= f.label :country_manufactured %>
    <%= f.select :country_id, @countries.map { |i| [i.name, i.id] } %>
  </div>

  <div class="form-section">
    <%= f.label :year_manufactured %>
    <%= f.number_field :year_manufactured %>
  </div>

  <div class="form-section">
    <%= f.label :serial_number %>
    <%= f.text_field :serial_number %>
  </div>

  <div class="form-section">
    <%= f.label :case, class: "required" %>
    <%= f.select :case_id, @cases.map { |i| [i.name, i.id] } %>
  </div>

  <div class="form-section">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="form-section">
    <%= f.label :location, class: "required" %>
    <%= f.text_field :location, placeholder: 'Melbourne, 3000' %>
  </div>

  <div class="form-section">
    <%= f.label :delivery_options, class: "required" %>
    <%= f.select :delivery_id, @deliveries.map { |i| [i.name, i.id] } %>
  </div>

  <div class="form-section">
    <%= f.label :image %>
    <%= f.file_field :image, accept: 'image/png, image/jpg, image/jpeg' %>
  </div>

  <% # Submit button %>

  <div class="form-buttons">
    <%= f.submit "Submit", class: "button" %>
    <%= link_to "Cancel", listings_path, class: "button" %>
  </div>

<% end %>