<h1 class="page-heading">LISTINGS</h1>

<main id="listings-index-page">
  <% @listings.each do |listing| %>
    <div class="card">
      <div class="listing-title">
        <%= listing.year_manufactured if listing.year_manufactured %>
        <%= listing.manufacturer.name %>
        <%= listing.model %>
      </div>
      <div class="listing-details">
        <%= listing.user.username %>
        $<%= listing.price %>
        <%= listing.created_at.to_s.first(10) %>
        <%= listing.location %>
        <%= listing.category.name %>
        <%= link_to "View", listing_path(listing) %>
      </div>
    </div>
  <% end %>
</main>