<p>Form for creating a new listing</p>

<%= form_with scope: :listing, url: listings_path, local: true do |f| %>

<div class="form-section">
  <%= f.label :category %>
  <%= f.select :category_id, @categories.map { |i| [i.name, i.id] } %>
</div>

<div class="form-section">
  <%= f.label :manufacturer %>
  <%= f.select :manufacturer_id, @manufacturers.map { |i| [i.name, i.id] } %>
</div>

<div class="form-section">
  <%= f.label :condition %>
  <%= f.select :condition_id, @conditions.map { |i| [i.name, i.id] } %>
</div>

<div class="form-section">
  <%= f.label :color %>
  <%= f.select :color_id, @colors.map { |i| [i.name, i.id] } %>
</div>

<div class="form-section">
  <%= f.label :body_material %>
  <%= f.select :material_id, @materials.map { |i| [i.name, i.id] } %>
</div>

<div class="form-section">
  <%= f.label :fingerboard_material %>
  <%= f.select :fingerboard_id, @fingerboards.map { |i| [i.name, i.id] } %>
</div>

<div class="form-section">
  <%= f.label :bridge %>
  <%= f.select :bridge_id, @bridges.map { |i| [i.name, i.id] } %>
</div>

<div class="form-section">
  <%= f.label :country_manufactured %>
  <%= f.select :country_id, @countries.map { |i| [i.name, i.id] } %>
</div>

<div class="form-section">
  <%= f.label :case %>
  <%= f.select :case_id, @cases.map { |i| [i.name, i.id] } %>
</div>

<div class="form-section">
  <%= f.label :delivery_options %>
  <%= f.select :delivery_id, @deliveries.map { |i| [i.name, i.id] } %>
</div>

<% end %>