<main id="show-listing-page">
  <div class="image-and-title">
    <% if @listing.image.attached? %>
      <%= image_tag @listing.image %>
    <% else %>
      <%= image_tag asset_path('generic-guitar-small.jpg') %>
    <% end %>
    <div class="title">
      <h1>
        <%= @listing.year_manufactured if @listing.year_manufactured %>
        <%= @listing.manufacturer.name %>
        <%= @listing.model %>
      </h1>
      <p class="red-text">$<%= @listing.price %></p>
      <% if @listing.sold %>
        <p>Sold</p>
      <% else %>
        <p>For Sale</p>
      <% end %>
      <p>Listed by <%= @listing.user.username %> on <%= @listing.created_at.to_s.first(10) %></p>
      <div class="show-buttons">
        <% if user_signed_in? && current_user != @listing.user && !@listing.sold %>
          <button class="button">Buy now</button>
          <a href="mailto: <%= @listing.user.email %>" class="button">Contact Seller</a>
        <% elsif user_signed_in? && current_user == @listing.user %>
          <%= link_to "Edit", edit_listing_path(@listing), class: "listing-button" %>
          <%= link_to "Delete", listing_path(@listing), method: :delete, data: { confirm: "Are you sure you want to delete this listing?" }, class: "listing-button" %>
        <% else %>
          <p>Sign in to purchase or message seller</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="delivery-and-shipping">
    <p><span class="bold-text">Delivery:</span> <%= @listing.delivery.name %></p>
    <p><span class="bold-text">Location:</span> <%= @listing.location %></p>
  </div>
  <div class="features">
    <h2>Features</h2>
    <div class="features-list">
      <div class="features-row">
        <p><span class="bold-text">Condition:</span> <%= @listing.condition.name %></p>
        <p><span class="bold-text">Color:</span> <%= @listing.color.name %></p>
        <p><span class="bold-text">Body material:</span> <%= @listing.material.name %></p>
        <p><span class="bold-text">Fingerboard material:</span> <%= @listing.fingerboard.name %></p>
        <p><span class="bold-text">Scale length:</span> <%= @listing.scale_length %></p>
        <p><span class="bold-text">Fingerboard radius:</span> <%= @listing.fingerboard_radius %></p>
        <p><span class="bold-text">Number of frets:</span> <%= @listing.number_of_frets %></p>
      </div>
      <div class="features-row">
        <p><span class="bold-text">Bridge type:</span> <%= @listing.bridge.name %></p>
        <p><span class="bold-text">Neck pickup:</span> <%= @listing.neck_pickup %></p>
        <p><span class="bold-text">Bridge pickup:</span> <%= @listing.bridge_pickup %></p>
        <p><span class="bold-text">Country manufactured</span> <%= @listing.country.name %></p>
        <p><span class="bold-text">Year manufactured:</span> <%= @listing.year_manufactured %></p>
        <p><span class="bold-text">Serial number:</span> <%= @listing.serial_number %></p>
        <p><span class="bold-text">Case: </span> <%= @listing.case.name %></p>
      </div>
    </div>
  </div>
  <div class="description">
    <h2>Description</h2>
    <p><%= @listing.description %></p>
  </div>
</main>