<% # Navbar %>

<nav>

  <a href="/home" id="navbar-logo-link"><%= image_tag asset_path('logo.png'), id: "navbar-logo" %></a>

  <% # Navbar if a user is signed in %>

  <% if user_signed_in? %>
    <a href="/home" class="navbar-link">Home</a>
    <%= link_to "Listings", listings_path, class: "navbar-link" %>
    <%= link_to "Create Listing", new_listing_path, class: "navbar-link" %>
    <a href="#" class="navbar-link">My Account</a>
    <a href="/help" class="navbar-link">Help</a>
    <p class="navbar-link signed-in-as">Signed in as <%= current_user.username %></p>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-link" %>

  <% # Navbar if no user is signed in %>

  <% else %>
    <a href="/home" class="navbar-link">Home</a>
    <%= link_to "Listings", listings_path, class: "navbar-link" %>
    <a href="/help" class="navbar-link">Help</a>
    <%= link_to "Sign In", new_user_session_path, class: "navbar-link" %>
    <%= link_to "Register", new_user_registration_path, class: "navbar-link" %>
  <% end %>

</nav>