<% # Splash Image %>

<section id="splash-image">
  <% if user_signed_in? %>
    <h1>Welcome back, <%= current_user.first_name %></h1>
    <a href="/my-account" class="button">My Account</a>
  <% else %>
    <h1>SELL YOUR GUITAR</h1>
    <p>Low commission. Australian-based. No listing fees.</p>
    <%= link_to "Get Started", new_user_registration_path, class: "button" %>
  <% end %>
</section>

<% # Recent Listings %>

<div id="recent-listings-heading">
  <h2>RECENT LISTINGS</h2>
</div>

<section id="recent-listings">

  <div class="recent-listing">
    <div class="recent-image">
      <% if @recent_listing.image.attached? %>
        <%= image_tag @recent_listing.image %>
      <% else %>
        <%= image_tag asset_path('generic-guitar-small.jpg') %>
      <% end %>
    </div>
    <h3><%= @recent_listing.year_manufactured %> <%= @recent_listing.model %></h3>
    <p class="recent-listing-username">Listed by <%= @recent_listing.user.username %></p>
    <p class="recent-listing-price">$<%= @recent_listing.price %></p>
  </div>

    <div class="recent-listing">
    <%= image_tag asset_path('generic-guitar-small.jpg')%>
    <h3>Listing Name</h3>
    <p class="recent-listing-username">Username_of_lister</p>
    <p class="recent-listing-price">$499</p>
  </div>

    <div class="recent-listing">
    <%= image_tag asset_path('generic-guitar-small.jpg')%>
    <h3>Listing Name</h3>
    <p class="recent-listing-username">Username_of_lister</p>
    <p class="recent-listing-price">$499</p>
  </div>

    <div class="recent-listing">
    <%= image_tag asset_path('generic-guitar-small.jpg')%>
    <h3>Listing Name</h3>
    <p class="recent-listing-username">Username_of_lister</p>
    <p class="recent-listing-price">$499</p>
  </div>

    <div class="recent-listing">
    <%= image_tag asset_path('generic-guitar-small.jpg')%>
    <h3>Listing Name</h3>
    <p class="recent-listing-username">Username_of_lister</p>
    <p class="recent-listing-price">$499</p>
  </div>

</section>

<div class="whitespace-buffer"></div>

<% # Call to action - User not signed in %>

<section id="call-to-action">

  <div id="call-to-action-text-container">
    <% if user_signed_in? %>
      <h2>LOOKING FOR SOMETHING?</h2>
      <p>Browse hundreds of listings and find your dream guitar. We have a huge range of guitars listed including both new and vintage Fender, Gibson, Yamaha and Ibanez.</p>
      <%= link_to "Browse Listings", listings_path, class: "navbar-link" %>
    <% else %>
      <h2>HOW IT WORKS</h2>
      <p>Create an account to buy and sell guitars with hundreds of other musos throughout Australia. We offer secure payments through Stripe and detailed item listings so you can be sure of what you're purchasing, as well as Australian-based support.</p>
      <%= link_to "Create an Account", new_user_registration_path %>
    <% end %>
  </div>

  <%= image_tag asset_path('homepage-call-to-action.jpg')%>

</section>

<% # Testimonials %>

<div id="testimonials-heading">
  <h2>TESTIMONIALS</h2>
</div>

<section id="testimonials">

  <div class="testimonial">
    <%= image_tag asset_path('testimonial-image-1.jpg') %>
    <div class="testimonial-text-container">
      <h3>I sold my guitar for double what I was offered on eBay!</h3>
      <p class="testimonial-identity">Mark, Sydney</p>
      <p>I listed my guitar on eBay and was offered pennies. I relisted it on GuitarBay and got twice what I was offered on eBay for it! I don't know what I'm going to do with all the extra money!</p>
    </div>
  </div>

    <div class="testimonial">
    <%= image_tag asset_path('testimonial-image-2.jpg') %>
    <div class="testimonial-text-container">
      <h3>I bought a brand new Les Paul for half its retail price!</h3>
      <p class="testimonial-identity">Dani, Melbourne</p>
      <p>I managed to pickup a brand new 2018 Gibson Les Paul on GuitarBay for half what it was selling for at my local guitar retailer! I can't believe the bargains available on GuitarBay!</p>
     </div> 
  </div>

</section>

<div class="whitespace-buffer"></div>