<% # Splash Image %>

<section id="splash-image">
  <h1>SELL YOUR GUITAR</h1>
  <p>Low commission. Australian-based. No listing fees.</p>
  <a href="#">Get Started</a>
</section>

<% # Recent Listings %>

<div id="recent-listings-heading">
  <h2>RECENT LISTINGS</h2>
</div>
<section id="recent-listings">
  <div class="recent-listing">
    <%= image_tag asset_path('generic-guitar-small')%>
    <h3>Listing Name</h3>
    <p class="recent-listing-username">Username_of_lister</p>
    <p class="recent-listing-price">$499</p>
  </div>
    <div class="recent-listing">
    <%= image_tag asset_path('generic-guitar-small')%>
    <h3>Listing Name</h3>
    <p class="recent-listing-username">Username_of_lister</p>
    <p class="recent-listing-price">$499</p>
  </div>
    <div class="recent-listing">
    <%= image_tag asset_path('generic-guitar-small')%>
    <h3>Listing Name</h3>
    <p class="recent-listing-username">Username_of_lister</p>
    <p class="recent-listing-price">$499</p>
  </div>
    <div class="recent-listing">
    <%= image_tag asset_path('generic-guitar-small')%>
    <h3>Listing Name</h3>
    <p class="recent-listing-username">Username_of_lister</p>
    <p class="recent-listing-price">$499</p>
  </div>
    <div class="recent-listing">
    <%= image_tag asset_path('generic-guitar-small')%>
    <h3>Listing Name</h3>
    <p class="recent-listing-username">Username_of_lister</p>
    <p class="recent-listing-price">$499</p>
  </div>
</section>
<div class="whitespace-buffer"></div>

<% # Call to action %>