<% # Splash Image %>

<section id="splash-image">
  <h1>SELL YOUR GUITAR</h1>
  <p>Low commission. Australian-based. No listing fees.</p>
  <a href="#">Get Started</a>
</section>

<% # Recent Listings %>

<div id="recent-listings-heading">
  <h2>RECENT LISTINGS</h2>
</div>
<section id="recent-listings">
  <div class="recent-listing">
    <%= image_tag asset_path('generic-guitar-small')%>
    <h3>Listing Name</h3>
    <p class="recent-listing-username">Username_of_lister</p>
    <p class="recent-listing-price">$499</p>
  </div>
    <div class="recent-listing">
    <%= image_tag asset_path('generic-guitar-small')%>
    <h3>Listing Name</h3>
    <p class="recent-listing-username">Username_of_lister</p>
    <p class="recent-listing-price">$499</p>
  </div>
    <div class="recent-listing">
    <%= image_tag asset_path('generic-guitar-small')%>
    <h3>Listing Name</h3>
    <p class="recent-listing-username">Username_of_lister</p>
    <p class="recent-listing-price">$499</p>
  </div>
    <div class="recent-listing">
    <%= image_tag asset_path('generic-guitar-small')%>
    <h3>Listing Name</h3>
    <p class="recent-listing-username">Username_of_lister</p>
    <p class="recent-listing-price">$499</p>
  </div>
    <div class="recent-listing">
    <%= image_tag asset_path('generic-guitar-small')%>
    <h3>Listing Name</h3>
    <p class="recent-listing-username">Username_of_lister</p>
    <p class="recent-listing-price">$499</p>
  </div>
</section>
<div class="whitespace-buffer"></div>

<% # Call to action - User not signed in %>

<section id="call-to-action">
  <div id="call-to-action-text-container">
    <h2>HOW IT WORKS</h2>
    <p>Create an account to buy and sell guitars with hundreds of other musos throughout Australia. We offer secure payments through Stripe and detailed item listings so you can be sure of what you're purchasing, as well as Australian-based support.</p>
    <a href="#">Create an Account</a>
  </div>
  <%= image_tag asset_path('homepage-call-to-action.jpg')%>
</section>

<% # Testimonials %>

<section id="testimonials">
  <h2>TESTIMONIALS</h2>
  <div class="testimonial">
  </div>
</section>