<h1 class="page-heading">MY ACCOUNT</h1>

<% # Displaying account details with button to edit them %>

<main id="my-account">
  <section id="account-details">
    <h2>My Details</h2>
    <p><span class="bold-text">First Name:</span> <%= @user.first_name %></p>
    <p><span class="bold-text">Last Name:</span> <%= @user.last_name %></p>
    <p><span class="bold-text">Email:</span> <%= @user.email %></p>
    <p><span class="bold-text">Username:</span> <%= @user.username %></p>
    <br>
    <%= link_to "Edit my details", edit_user_registration_path, class: "listing-button" %>
  </section>

  <% # Looping through a user's listings with buttons to edit/delete %>

  <section id="account-listings">
    <h2>My Listings</h2>
    <% if @listings.count >= 1 %>
      <% @listings.each do |listing| %>
        <div class="card">
      <div class="item-image">
        <% if listing.image.attached? %>
          <%= image_tag listing.image %>
        <% else %>
          <%= image_tag asset_path('generic-guitar-small.jpg') %>
        <% end %>
      </div>
      <div class="item-description">
        <div class="listing-title">
          <%= listing.year_manufactured if listing.year_manufactured %>
          <%= listing.manufacturer.name %>
          <%= listing.model %>
        </div>
        <div class="listing-details">
          <p><span class="red-text">$<%= listing.price %></span> &emsp; Listed on <%= listing.created_at.to_s.first(10) %></p>
        </div>
        <div class="listing-buttons">
          <% if listing.sold %>
            <p>Sold</p>
          <% else %>
            <p>For Sale</p>
          <% end %>
          <%= link_to "View", listing_path(listing), class: "listing-button" %>
          <% if !listing.sold %>
            <%= link_to "Edit", edit_listing_path(listing), class: "listing-button" %>
          <% end %>
          <%= link_to "Delete", listing_path(listing), method: :delete, data: { confirm: "Are you sure you want to delete this listing?" }, class: "listing-button" %>
        </div>
      </div>
    </div>
  <% end %>
    <% else %>
      <p>You don't have any listings yet.</p>
    <% end %>

  </section>
</main>
